.contacto{
    background-color: #13171C;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}
.contacto__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px auto;
    align-items: center;
    width: 100%;
    color: white;
}

.contacto__form{
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 50px;
}
.contacto__content-title{
    font-size: 42px;
    font-weight: 700;
}
.contacto__form label{
    font-size: 18px;
    font-weight: 700;
}
.contacto__form__input{
    background-color: #393e467c;    
    border: none;
    border-radius: 16px;
    height: 59px;
    width: 313px;
    font-size: 18px;
    font-weight: 700;
    padding: 15px;
    margin: 15px 0;
    color: white;
}
.contacto__form__message{
    background-color: #393e467c;    
    border: none;
    border-radius: 16px;
    height: 280px;
    width: 313px;
    font-size: 18px;
    font-weight: 700;
    padding: 15px;
    margin: 15px 0;
    color: white;
}

.contacto__form__buttom{
    background-color: #00ADB5;
    color: black;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 24px;
    text-align: center;
    height: 55px;
    width: 313px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.contacto__form__buttom img{
    height: 24px;
}
@media(min-width: 700px){
    .contacto__content{
        flex-direction: row;
    }
}