.footer{
    background-color: #0F1113;
    height: 100%;
    width: 100%;
    background-image: url('./imgs/doodle\ items.png'); 
    background-size: cover; 
    background-position: center; 
}
.footer__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    color: white;
    font-family: sans-serif;
}
.footer__content-title{
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 36px;
}

.footer__content__pages{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
}

.footer__content__pages a{
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 18px;
    margin: 10px;
}

/* RESPONSIVE */

@media(min-width: 700px){
    .footer__content__pages{
        flex-direction: row;
    }
}