*{
    box-sizing: border-box;
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
    background-color: #13171C;
    width: 100%;
}
.portafolio{
    background-color: #192130;
    height: 100%;
    width: 100%;
}
.portafolio__content{
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 500px;
    margin: 0 auto;
    width: 100%;
}
.portfaolio__content-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: sans-serif;
    
}
.portafolio__content-text-title{
    font-weight: 700;
    font-size: 42px;
    text-align: start;
    margin: 30px 0;

}

.portafolio__content-text__parrafo{
    font-weight: 400;
    font-size: 16px;
    text-align: start;
    padding: 15px;
}
.portafolio__content img{
    height: 300px;
    mask-image: radial-gradient(circle, 
    rgba(0, 0, 0, 1) 30%, 
    rgba(0, 0, 0, 0) 70%);
}